/* custom.css */

body {
    background-color: #263d53;
}

.custom-button {
    background-color: navy;
    color: white;
}

#dummy {
    border-radius: 10px;        /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin-bottom: 30px;
    padding-top: 60px;
}

h1 {
    color: white;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

h1.display-1 {
    margin-bottom: 60px;
}

h2.display-1 {
    margin-bottom: 60px;
}

p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

li {
    color: white;  
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.debug {
    color: white;
    background-color: black;
}

.tonyGPTContainer {
    padding-top: 80px;
}

ul li {
    cursor: pointer;
    color: white;
}

ul li:hover {
    text-decoration: underline;
}