<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Tony GPT{% endblock %}

{% block content %}

<h1 class="display-1">Chat with TonyGPT</h1>

<div class="container-fluid">
    <div class="mb-3">
        <form action="/submit" method="post">    
            <textarea type="text" class="form-control" rows="3" name="user_input" placeholder="Type your question!" required></textarea>
            <br>
            <button type="submit" class="btn btn-outline-primary" id="submit-btn">
                Ask
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="spinner"></span>
            </button>
        </form>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('submit-btn').addEventListener('click', function() {
        document.getElementById('spinner').classList.remove('d-none');
    });
</script>

{% endblock %}
