<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Response{% endblock %}

{% block content %}

    <h1 class="display-1">TonyGPT Responds!</h1>
    
    <img id="dummy" src="{{ url_for('static', filename='default.jpg') }}" alt="Ventriloquist Dummy" class="img-fluid">

    <br>

    <!-- Audio Player -->
    <audio controls autoplay onplay="animateMouth()" onended="stopMouthAnimation()">
     <!--   <source src="/response_audio" type="audio/mpeg"> -->
        <source src="{{ url_for('static', filename='response.mp3') }}?{{ unique_id }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <br> 
    <a href="/">Ask another question</a>

    <!-- JavaScript for Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    
    <script>
        let mouthImages = [
            "{{ url_for('static', filename='tonys/tony1.jpg') }}",
            "{{ url_for('static', filename='tonys/tony2.jpg') }}",
            "{{ url_for('static', filename='tonys/tony3.jpg') }}",
            "{{ url_for('static', filename='tonys/tony5.jpg') }}",
            "{{ url_for('static', filename='tonys/tony6.jpg') }}",
            "{{ url_for('static', filename='tonys/tony7.jpg') }}",
            "{{ url_for('static', filename='tonys/tony8.jpg') }}",
            "{{ url_for('static', filename='tonys/tony9.jpg') }}",
            // Add more states as needed
        ];
        let currentImage = 0;
        let animationInterval;

        function animateMouth() {
            animationInterval = setInterval(() => {
                document.getElementById('dummy').src = mouthImages[currentImage];
                currentImage = (currentImage + 1) % mouthImages.length;
            }, 200); // Adjust timing as needed
        }

        function stopMouthAnimation() {
            clearInterval(animationInterval);
            document.getElementById('dummy').src = "{{ url_for('static', filename='tonys/tony0.jpg') }}";
        }

        // Event listener for the audio 'ended' event
        document.getElementById('speech').addEventListener('ended', stopMouthAnimation);

        // Optionally, start the animation when the audio starts playing
        document.getElementById('speech').addEventListener('play', animateMouth);

    </script>

{% endblock %}
